@import "tailwindcss";

*{
  font-family: "Roboto", sans-serif;
}
html{
  scroll-behavior: smooth;
}

h1{
  font-size: clamp(22px, calc(7vw + 1rem), 10%);
  font-weight: bold;
  margin-bottom: 5px;
}

h2 {
  font-size: clamp(20px, calc(5vw + 1rem), 7%);
  font-weight: 500;
}

.contact {
  position: relative;
}
.contact::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../src/assets/map.png") no-repeat center/contain;
  opacity: 0.1;
  animation: fadeBg 1.5s ease-in-out forwards;
  z-index: -1;
}


